.card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 30px;
    background-color: #DFDFDF;
    padding: 8px;
    border: 5px solid #23337B;
    border-radius: 8px;
    height:60vh;
    width: 20vw;
    color: #23337B;
}

.card-header {
    margin-bottom: 15%;
    flex-direction: column;
}

.card-header h2{
    color: #23337B;
    font-size:25px;
    margin: 0px;
    padding: 0px;
}

.card-header h3 {
    font-size:16px;
    margin: 0px;
}

#info {
    display: flex;
    flex-direction: column;
    text-align: start;
}


