#Inscricao {
    background-color: #344CB7;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.form-content{
    display: flex;
    flex-direction: row;
}

#btn-submit {
    background-color: #23337B;
    font-family: 'Jura', sans-serif;
    border: none;
    border-radius: 3px;
    padding: 10px;
    margin: 5% 0% 

}   

input {
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #D2D2D2;
    color: #23337B;
    font-family: 'Jura', sans-serif;
}

p {
    font-weight: bold;
}